*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.1rem;
}
body{
  background-color: #e7e7e7;
}
a, p, button{
  text-decoration: none;
  color: steelblue;
  padding: 1rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
a:hover{
  color: rgb(55, 108, 151);
}
